# Dépendances
node_modules/

# Builds / Next
.next/
out/

# Production
build/
dist/

# Env files
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# IDE / Editeurs
.vscode/

# Docker (pour éviter que le Dockerfile soit utilisé dans le contexte Build, sauf si tu en as vraiment besoin)
Dockerfile
Dockerfile*
docker-compose.yml
.dockerignore

# Typescript
*.tsbuildinfo
next-env.d.ts

# Coverage
coverage/

# Fichiers inutiles
*.md
.DS_Store

# Partage/Dossier inutile dans build Docker
shared/
