# Dumps et données locales
/db/employeedb_dump.sql
.hintrc
.env
postgres-data


# Logs globaux
*.log

# IDE
.vscode/
.DS_Store
node_modules/.cache/prettier/

.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfplan
