services:
  frontend:
    image: amineelalami/ems-platform:frontend:${TAG:-latest}
    ports:
      - "3000:3000"
    env_file:
      - ./client/.env
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:5000
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  backend:
    image: amineelalami/ems-platform:backend:${TAG:-latest}
    ports:
      - "5000:5000"
    env_file:
      - ./.env
    command: >
      sh -c "echo DATABASE_URL=$DATABASE_URL && echo EMAIL_USER=$EMAIL_USER && sleep 30 && npm start"
    depends_on:
      db:
        condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - app-network
    restart: unless-stopped

  db:
    image: amineelalami/ems-platform:db:${TAG:-latest}
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  db-data: